.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(58, 56, 56);
    color: rgb(255, 248, 231);
}

.header {
    width: 100vw;
    justify-content: center;
    text-align: center;
    font-size: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
}